<!DOCTYPE html>
<html lang="en">
  <head>
    <title>competition app - add competitors</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.1.min.js"></script>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/logout">logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">the muy grande competition app</h3>
      </div>

      <div class="jumbotron">
        <h3>add competitor below</h3>
        <form class="form-signin" action="/validateCompetitor" method="post">
        <label for="inputCompetitor" class="sr-only">competitor name</label>
        <input type="name" name="inputCompetitor" id="inputCompetitor" class="form-control" placeholder="enter competitor name here" required autofocus>
        <button id="btnAddCompetitor" class="btn btn-lg btn-primary btn-block" type="sign up">add competitor</button>
      </div>


      <footer class="footer">
        <p>&copy; jslug 2017</p>
      </footer>

    </div>
  </body>
</html>
